.container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-size: 40px;
  font-family: 'Bree serif';
}
.greeting {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Bree serif';
}
.button {
  border-radius: 10px;
  background-color: #ffffff;
  color: #1e293b;
  width: 100px;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Bree Serif';
  padding: 8px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
  .button {
    width: 200px;
  }
}
